*{
    margin: 0;
    padding: 0;
}

.bg-linear-shop{
    background: linear-gradient(90deg, #51f6ce, #f6517a);
    display: flex;
    flex-direction: column;
}

.shop-hero-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.shop-hero-main > h1{
    font-size: 4rem;
}

.shop-hero-main > p{
    font-size: 1rem;
    margin: 10px 0 50px 0;
}

.shop-hero-main > button{
    font-size: 1.2rem;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 500px){
    .shop-hero-main > h1{
        font-size: 3rem;
    }
}