p{
    margin-bottom: 0;
}

.product-checkout{
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
}

.img-row > img{
    width: 100px;
}

.quantity-box{
    border: 1px solid;
    padding: 10px 15px;
    border-radius: 5px;
}

.checkout-btn-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-btn{
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-weight: 600;
    background-color: #720813;
}

@media screen and (max-width: 500px) {
    
    .product-checkout{
        flex-direction: column;
        justify-content: center;
        margin: 20px auto;
    }

    .img-row > img{
        margin-bottom: 10px;
    }

    p{
        margin-bottom: 1rem;
    }
}
